:root {
  --main-color: #4937f0;
  --second-color: #9244f0;

  --spin-color: #111;
  --spinBackground-color: #fff;

  --text-color: #fff;
  --dark-bg: #160a2d;
  --light-bg: #211141;
  --grad2-clr-left: #eeb378;
  --grad2-clr-right: #b35ed3;
  --white: #ffffff;
  --purple-star: #a141f2;
  --orange-star: #f67f03;
  --main-transition: 0.5s;
  --padding-top: 100px;
  //
  // #0093e9
  // #80d0c7
  //
  color: #0ba360;
  background-color: rgb(47, 84, 47);
  background-color: rgba(166, 193, 166, 0.88);
  color: #3cba92;
  //
}
// background-image: linear-gradient(to top, #09203f 0%, #537895 100%);

// background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
//  media queries
$max-mobile: "max-width:767px";
$min-mobile: "min-width:768px";
$very-sm: "max-width:500px";

$max-med: "max-width:991px";
$min-med: "min-width:992px";
$max-lg: "max-width:1199px";
$min-lg: "min-width:1200px";
//
@mixin media($point) {
  @if $point== "mobile" {
    @media ($max-mobile) {
      @content;
    }
  } @else if $point== "small" {
    @media ($max-med) {
      @content;
    }
  } @else if $point== "medium" {
    @media ($max-lg) {
      @content;
    }
  } @else if $point == "large" {
    @media ($min-lg) {
      @content;
    }
  }@else if $point == "verySmall" {
    @media ($very-sm) {
      @content;
    }
  }
}
//  media queries
@mixin gradient($deg) {
  background-image: linear-gradient(
    $deg,
    var(--main-color),
    var(--second-color)
  );
}
// gradient text
@mixin textgdarient {
  @include gradient(45deg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
// @mixin gradient2($deg) {
//   background-image: linear-gradient($deg, $grad2-clr-left, $grad2-clr-right);
// }
// light and dark mode
$them: "dark";
%lightORdark {
  @if $them== "light" {
    background-color: white;
    color: black;
  } @else {
    background-color: black;
    color: white;
  }
}
// light and dark mode
// list style
@mixin list-reset {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
// list style
// circle
@mixin circle($value) {
  width: $value;
  height: $value;
  border-radius: 50%;
}
// circle
// centering by flex
@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
// centering by flex
// overlay

@mixin overlay($color, $opacity) {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba($color, $opacity);
}
// overlay
// grid
@mixin gridcol($min, $gap) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($min, 1fr));
  gap: $gap;
}
// grid
// animation
@mixin keyF($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
}
// animation

// hover card
@mixin cardhover($elementName, $rotateDeg, $rotateWay) {
  .#{$elementName} {
    position: relative;
    width: 300px;
    height: 400px;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    .card1,
    .card2 {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      text-transform: capitalize;
      color: white;
    }
    .card2 {
      backface-visibility: hidden;
      @if $rotateWay == "y" {
        transform: rotateY($rotateDeg);
      } @else {
        transform: rotateX($rotateDeg);
      }
    }
    &:hover {
      @if $rotateWay == "y" {
        transform: rotateY(-$rotateDeg);
      } @else {
        transform: rotateX(-$rotateDeg);
      }
    }
  }
}
// zic
// shadow
@mixin shadow {
  box-shadow: 0px 12px 20px 0px rgba(black, 0.13),
    0px 2px 4px 0px rgba(black, 0.12);
}
// shadow
@mixin ziczack($className, $height) {
  .#{$className} {
    position: relative;
    z-index: 100;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: $height;
      background-size: $height $height;
      background-image: linear-gradient(
          135deg,
          var(--light-bg) 25%,
          transparent 25%
        ),
        linear-gradient(225deg, var(--light-bg) 25%, transparent 25%);
    }
  }
}

// zic
// hover card
// container
@mixin container {
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
}
// container
